login.php (POST): 
***request: 
   {
      email: string,
      password: string 
 }

***response:
   if responseCode is okay (200-299)
      {
         responseCode: int | string,
         jwt: string,
         user: {
            id: string,
            isSeller: boolean,
            name: string,
            email: string,
            hasAddress: boolean
         }
      }
   else
      {
         responseCode: int | string,
         error: string
      }

signup.php (POST): 
***request: 
   {
      isSeller: boolean,
      name: string,
      email: string,
      phone: string,
      password: string
   }
 
***response:
      {
         responseCode: int | string,
         jwt: string,
         user: {
            id: string,
            isSeller: boolean,
            name: string,
            email: string,
            hasAddress: boolean
         }
      }



shop.php (GET): 
***response:
//Array of objects
      [
         {
            id: int || string,
            name: string,
            img: string,
            lowestBid: int,
            category: string,
            location: {{that is derived from the address of the customer who created it}},
            Date: date (2011-10-05T14:48:00.000Z),
            utc
         }
      ]

contact.php (POST): 
***request: 
   {
      email: string,
      message: string,
      name: string
   }

***response: 
   {
      responseCode: int | string,
      message: successMessage || errorMessage
   }


// save 201
// response 200

order.php (GET): 
***request
auth header jwt

***response
{
    //for seller
    "responseCode": 200,
    "summary": {
        "s1": {
            "key": "Total Orders Completed",
            "value": 1
        },
        "s2": {
            "key": "Total Bids",
            "value": 16
        },
        "s3": {
            "key": "Active Bids",
            "value": 14
        },
        "s4": {
            "key": "Active Orders",
            "value": 1
        },
        "s5": {
            "key": "Total Earnings",
            "value": "400"
        }
    },
    "orders": [
        {
            "oid": "O1",
            "src": null,
            "name": "Ayush",
            "productName": "Watch",
            "price": "3500",
            "status": "SHIPPED"
        },
        {
            "oid": "O2",
            "src": null,
            "name": "Ayush",
            "productName": "Hat",
            "price": "400",
            "status": "COMPLETE"
        }
    ]
}
||
{
    //for customer
    "responseCode": 200,
    "summary": {
        "s1": {
            "key": "Total Products Fulfilled",
            "value": 1
        },
        "s2": {
            "key": "Total Bids",
            "value": 8
        },
        "s3": {
            "key": "Active Listings",
            "value": 8
        },
        "s4": {
            "key": "Active Orders",
            "value": 0
        },
        "s5": {
            "key": "Total Expenditure",
            "value": "400"
        }
    },
    "orders": [
        {
            "oid": "O2",
            "src": "https://res.cloudinary.com/flipin/image/upload/v1617898404/gsngqhlc7wdqvznz2ngq.png",
            "name": "Ayush",
            "productName": "Hat",
            "price": "400",
            "status": "COMPLETE"
        }
    ]
}



getprofile.php (GET): 

***request
auth header jwt


***response
{
    //Seller
    "responseCode": 200,
    "user": {
        "name": "Ayush",
        "phoneNumber": "9999955555",
        "email": "c@gmail.com",
        "premiumMember": "NO",
        "category": "Jewellery",
        "logo": "https://www.publicdomainpictures.net/pictures/70000/nahled/letter-a-1388715703B97.jpg",
        "firstLineAddress": "14",
        "secondLineAddress": "Nagar",
        "city": "Jaipur",
        "state": "Rajasthan",
        "country": "India",
        "pincode": "302017"
    }
}
||
{
    //Customer
    "responseCode": 200,
    "user": {
        "name": "Ayush",
        "phoneNumber": "9876543210",
        "email": "a@gmail.com",
        "firstLineAddress": "14",
        "secondLineAddress": "Nagar",
        "city": "Jaipur",
        "state": "Rajasthan",
        "country": "India",
        "pincode": "302017"
    }
}



setprofile.php (POST):
***request:
auth header jwt
{
    //Seller
    "phoneNumber": "9999955555",
    "premiumMember": "NO",
    "category": "Jewellery",
    "logo": "https://www.publicdomainpictures.net/pictures/70000/nahled/letter-a-1388715703B97.jpg",
    "firstLineAddress": "14",
    "secondLineAddress": "Nagar",
    "city": "Jaipur",
    "state": "Rajasthan",
    "country": "India",
    "pincode": "302017"
}
||
{
    //Customer
    "phoneNumber": "9999955555",
    "firstLineAddress": "14",
    "secondLineAddress": "Nagar",
    "city": "Jaipur",
    "state": "Rajasthan",
    "country": "India",
    "pincode": "302017"
}

 
***response:
{
    //successful
    "responseCode": 204,
    "message": "Profile Updated Successfully."
}
||
{
    //error
    "responseCode": 422,
    "error": "Invalid Pincode"
}



productpost.php (POST):
***request:
auth header jwt
{
    "name":"Chokar",
    "description":"It is a Chokar",
    "category":"Jewellery",
    "mediaUrl":"https://5.imimg.com/data5/AR/OC/NN/ANDROID-22678777/product-jpeg-500x500.jpeg"
}


***response:
{
    //successful
    "responseCode": 201,
    "message": "Product Added Successfully."
}
||
{
    //error
    "responseCode": 422,
    "error": "Invalid Name"
}


getproduct.php (POST):
***request
auth header jwt 
{
   "id": "P1"
}

***response:
{
    //for seller
    "responseCode": 200,
    "name": "Belt",
    "lowestBid": "500",
    "location": "Jaipur, Rajasthan",
    "category": "Accessories",
    "description": "It is a belt",
    "customerId": "1",
    "image": "https://staticimg.titan.co.in/Titan/Catalog/TB184LM1R2_1.jpg",
    "bids": [
        {
            "sellerId": "S1",
            "logo": "https://www.publicdomainpictures.net/pictures/70000/nahled/letter-a-1388715703B97.jpg",
            "sellerName": "Ayush",
            "description": "Price quoted",
            "amount": "2500"
        },
        {
            "sellerId": "S2",
            "logo": null,
            "sellerName": "Ayush Jain",
            "description": "Price quoted",
            "amount": "2000"
        },
        {
            "sellerId": "S35",
            "logo": null,
            "sellerName": "Ayush Jain",
            "description": "Price quoted",
            "amount": "500"
        }
    ],
    "suggestions": [
        {
            "id": "P3",
            "name": "Tie",
            "img": "https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1559339960-TIE-4836-0026.jpg",
            "lowestBid": "200",
            "location": "Jaipur, Rajasthan"
        },
        {
            "id": "P53",
            "name": "Glasses",
            "img": "https://images-na.ssl-images-amazon.com/images/I/313KvOFWUzL.jpg",
            "lowestBid": "Not Available",
            "location": "Jaipur, Rajasthan"
        },
        {
            "id": "P51",
            "name": "Watch",
            "img": "https://i.gadgets360cdn.com/products/large/realme-watch-670x800-1590388807.jpg",
            "lowestBid": "3500",
            "location": "Jaipur, Rajasthan"
        }
    ]
}
||
{
    //for customer
    "responseCode": 200,
    "name": "Belt",
    "lowestBid": "500",
    "location": "Jaipur, Rajasthan",
    "category": "Accessories",
    "description": "It is a belt",
    "customerId": "1",
    "image": "https://staticimg.titan.co.in/Titan/Catalog/TB184LM1R2_1.jpg",
    "bids": [
        {
            "sellerId": "S1",
            "logo": "https://www.publicdomainpictures.net/pictures/70000/nahled/letter-a-1388715703B97.jpg",
            "sellerName": "Ayush",
            "description": "Price quoted",
            "amount": "2500"
        },
        {
            "sellerId": "S2",
            "logo": null,
            "sellerName": "Ayush Jain",
            "description": "Price quoted",
            "amount": "2000"
        },
        {
            "sellerId": "S35",
            "logo": null,
            "sellerName": "Ayush Jain",
            "description": "Price quoted",
            "amount": "500"
        }
    ]
}



bid.php (POST):
***request:
auth header JWT
{
    "pid":"P17",
    "desc":"New bid",
    "price": "1000"
}

***response: 
{
    "responseCode": 201,
    "message": "Bid Added Successfully"
}
||
{
    "responseCode": 204,
    "message": "Bid Updated Successfully"
}



editproduct.php (POST):
***request:
auth header jwt
{
    "pid": "P55",
    "name":"Chokar",
    "description":"It is a Chokar",
    "category":"Jewellery",
    "mediaUrl":"https://5.imimg.com/data5/AR/OC/NN/ANDROID-22678777/product-jpeg-500x500.jpeg"
}


***response:
{
    "responseCode": 204,
    "message": "Product Updated Successfully"
}
||
{
    //error
    "responseCode": 422,
    "error": "Invalid Name"
}




listings.php (GET):
***request:
auth header jwt


***response:
{
    "responseCode": 200,
    "products": [
        {
            "id": "P64",
            "name": "Test",
            "img": "https://res.cloudinary.com/flipin/image/upload/v1619113010/kxadpb0cjfdlu1bif4e1.jpg",
            "lowestBid": "Not Available",
            "category": "Accessories",
            "location": "Jai, Karnataka",
            "Date": "2021-04-22T23:06:52+00:00",
            "bidPlaced": false //  will not be given for customer
        },
        {
            "id": "P63",
            "name": "Test",
            "img": "https://res.cloudinary.com/flipin/image/upload/v1619112837/h89qt8yjrsf9jgw3mtrb.jpg",
            "lowestBid": "Not Available",
            "category": "Accessories",
            "location": "Jai, Karnataka",
            "Date": "2021-04-22T23:04:15+00:00",
            "bidPlaced": false
        },
        {
            "id": "P3",
            "name": "Tie",
            "img": "https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1559339960-TIE-4836-0026.jpg",
            "lowestBid": "200",
            "category": "Accessories",
            "location": "Jaipuriya, Rajasthan",
            "Date": "2021-03-18T00:25:31+00:00",
            "bidPlaced": true
        }
    ]
}



getorderdetails.php (POST):
***request:
auth header jwt
{
    "oid":"O2"
}


***response:
{
    // for customer
    "responseCode": 200,
    "name": "Watch",
    "mediaUrl": "https://staticimg.titan.co.in/Titan/Catalog/1595NL03_2.jpg",
    "price": "3500",
    "status": "SHIPPED",
    "location": "Jaipuriya, Rajasthan",
    "personType": "Seller Name",
    "personName": "Yashika",
    "id": "S1",
    "description": "It is a watch",
    "deliveryDate": "2021-05-10",
    "hasGivenFeedback": false
}
||
{
    // for seller
    "responseCode": 200,
    "name": "Watch",
    "mediaUrl": "https://staticimg.titan.co.in/Titan/Catalog/1595NL03_2.jpg",
    "price": "3500",
    "status": "SHIPPED",
    "location": "Jaipuriya, Rajasthan",
    "personType": "Customer Name",
    "personName": "Ayush",
    "id": "C1",
    "description": "It is a watch",
    "deliveryDate": "2021-05-10",
    "hasGivenFeedback": true
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}



acceptorder.php (POST):
***request:
auth header jwt
{
    "pid":"P15",
    "sid":"S2"
}


***response:
{
    "responseCode": 201,
    "message": "Order Created Successfully"
}
||
{
    "responseCode": 400,
    "message": "Order already created or product set as Unpublished."
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}



publish.php (POST):
***request:
auth header jwt
{
    "pid":"P15"
}


***response:
{
    "responseCode": 204,
    "message": "Product Unpublished Successfully"
}
||
{
    "responseCode": 204,
    "message": "Product Published Successfully"
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}



billing.php (POST):
***request:
auth header jwt
{
    "oid":"O1"
}


***response:
{
    "responseCode": 200,
    "productName": "Watch",
    "quantity": 1,
    "price": "3500",
    "commission": "5%",
    "commissionAmount": 175,
    "totalPrice": 3675,
    "date": {
        "day": "25",
        "month": "March",
        "year": "2021"
    },
    "Customer": {
        "name": "Ayush",
        "firstLineAddress": "14",
        "secondLineAddress": "Nagar",
        "city": "Jaipuriya",
        "state": "Rajasthan",
        "country": "India",
        "pincode": "302017"
    },
    "Seller": {
        "name": "Yashika",
        "firstLineAddress": "14",
        "secondLineAddress": "Palya",
        "city": "Jaipur",
        "state": "Kerela",
        "country": "India",
        "pincode": "302018"
    }
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}



product.php (POST):
***request:
{
    "category" : "Accessories" || "Clothing" || "Footwear" || "Jewellery" || "Cosmetics" || "Furniture"
}

***response:
{
    "responseCode": 200,
    "productItems": [
        {
            "id": "P64",
            "name": "Test",
            "img": "https://res.cloudinary.com/flipin/image/upload/v1619113010/kxadpb0cjfdlu1bif4e1.jpg",
            "lowestBid": "Not Available",
            "category": "Accessories",
            "location": "Jai, Karnataka",
            "Date": "2021-04-22T23:06:52+00:00"
        },
        {
            "id": "P63",
            "name": "Test",
            "img": "https://res.cloudinary.com/flipin/image/upload/v1619112837/h89qt8yjrsf9jgw3mtrb.jpg",
            "lowestBid": "Not Available",
            "category": "Accessories",
            "location": "Jai, Karnataka",
            "Date": "2021-04-22T23:04:15+00:00"
        },
        {
            "id": "P53",
            "name": "Glasses",
            "img": "https://images-na.ssl-images-amazon.com/images/I/313KvOFWUzL.jpg",
            "lowestBid": "1500",
            "category": "Accessories",
            "location": "Jaipuriya, Rajasthan",
            "Date": "2021-03-25T18:26:57+00:00"
        },
        {
            "id": "P3",
            "name": "Tie",
            "img": "https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1559339960-TIE-4836-0026.jpg",
            "lowestBid": "200",
            "category": "Accessories",
            "location": "Jaipuriya, Rajasthan",
            "Date": "2021-03-18T00:25:31+00:00"
        },
        {
            "id": "P2",
            "name": "Wallet",
            "img": "https://5.imimg.com/data5/TT/RC/MY-71045813/leather-purse-500x500.jpg",
            "lowestBid": "3000",
            "category": "Accessories",
            "location": "Jaipuriya, Rajasthan",
            "Date": "2021-03-18T00:24:34+00:00"
        },
        {
            "id": "P1",
            "name": "Belt",
            "img": "https://staticimg.titan.co.in/Titan/Catalog/TB184LM1R2_1.jpg",
            "lowestBid": "400",
            "category": "Accessories",
            "location": "Jaipuriya, Rajasthan",
            "Date": "2021-03-18T00:23:36+00:00"
        }
    ]
}
||
{
    "responseCode": 404,
    "message": "Page Not found"
}



editorder.php (POST):
***request:
auth header jwt
{
    //for seller
    "oid":"O1",
    "status": "STARTED" || "PACKED" || "SHIPPED" || "OUT FOR DELIVERY" || "DELIVERED",
    "dateDelivery":"2021-05-10"
}
||
{
    // for customer
    "oid":"O1"
}


***response:
{
    // for seller
    "responseCode": 204,
    "message": "Order Updated Successfully"
}
||
{
    //for customer
    "responseCode": 204,
    "message": "Order Completed Successfully"
}
||
{
    "responseCode": 422,
    "message": "Order doesn't exist"
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}



feedback.php (POST):
***request:
auth header jwt
{
    "oid":"O2",
    "message":"good job",
    "rating": "4.9"
}


***response:
{
    "responseCode": 201,
    "message": "Feedback Added Successfully"
}
||
{
    "responseCode": 422,
    "message": "Order doesn't exist"
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}
||
{
    "responseCode": 422,
    "message": "Feedback already submitted."
}



dashboard.php (GET):
***request:
auth header jwt

***response:
{
    // for customer
    "responseCode": 200,
    "summary": {
        "s1": {
            "key": "Total Product Listing",
            "value": 14
        },
        "s2": {
            "key": "Total Views",
            "value": "278"
        },
        "s3": {
            "key": "Ongoing Bids",
            "value": 4
        }
    },
    "e": "10200",
    "rating": "5.0",
    "itemsArray": [
        {
            "id": "P6",
            "src": "https://images-na.ssl-images-amazon.com/images/I/7173g5rSwAL._SX425_.jpg",
            "pName": "Sofa",
            "lBid": "2500",
            "pViews": "5",
            "tBids": "2",
            "status": "OPEN"
        },
        {
            "id": "P67",
            "src": "https://res.cloudinary.com/flipin/image/upload/v1619791374/iejesjpc8zmsc9l8aqxo.jpg",
            "pName": "Test Val",
            "lBid": 0,
            "pViews": "0",
            "tBids": "0",
            "status": "UNPUBLISHED"
        }
    ]
}
||
{
    // for seller
    "responseCode": 200,
    "src": "https://res.cloudinary.com/flipin/image/upload/v1619792201/qubwyf2lpicrwl0cgvla.png",
    "summary": {
        "s1": {
            "key": "Total Bids",
            "value": 23
        },
        "s2": {
            "key": "Completed Orders",
            "value": 5
        },
        "s3": {
            "key": "Ongoing Orders",
            "value": 3
        }
    },
    "e": "8800",
    "rating": "4.9",
    "itemsArray": [
        {
            "id": "P64",
            "src": "https://res.cloudinary.com/flipin/image/upload/v1619113010/kxadpb0cjfdlu1bif4e1.jpg",
            "pName": "Test",
            "lBid": "1000",
            "yBid": "1000",
            "status": "OPEN"
        },
        {
            "id": "P58",
            "src": "https://res.cloudinary.com/flipin/image/upload/v1617958648/hh6lz247gypyoosankn7.jpg",
            "pName": "Jacket",
            "lBid": "1200",
            "yBid": "1200",
            "status": "OPEN"
        },
        {
            "id": "P14",
            "src": "https://images-na.ssl-images-amazon.com/images/I/71Kooek%2BjaL._UL1500_.jpg",
            "pName": "Pendant",
            "lBid": "90000",
            "yBid": "90000",
            "status": "UNPUBLISHED"
        }
    ]
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}



closebid.php (GET):
***request:
auth header jwt
{
    "pid": "P1"
}

***response:
{
    "responseCode": 204,
    "message": "Bid Deleted Successfully"
}
||
{
    "responseCode": 422,
    "message": "Product or Bid doesn't exist."
}
||
{
    "responseCode": 422,
    "message": "Closed Bids can't be deleted."
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}
k
