- login.php (POST): 
***request: 
   {
      email: string,
      password: string
   }

***response:
   if responseCode is okay (200-299)
      {
         responseCode: int | string,
         jwt: string,
         user: {
            id: string,
            isSeller: boolean,
            name: string,
            email: string,
            hasAddress: boolean
         }
      }
   else 
      {
         responseCode: int | string,
         error: string
      }


- signup.php (POST): 
***request: 
   {
      isSeller: boolean,
      name: string,
      email: string,
      phone: string,
      password: string
   }

***response: 
      {
         responseCode: int | string,
         jwt: string,
         user: {
            id: string,
            isSeller: boolean,
            name: string,
            email: string,
            hasAddress: boolean
         }
      }


shop.php (GET): 
***response:
//Array of objects
      [
         {
            id: int || string,
            name: string,
            img: string,
            lowestBid: int,
            category: string,
            location: {{that is derived from the address of the customer who created it}},
            Date: date (2011-10-05T14:48:00.000Z),
            utc
         }
      ]

contact.php (POST): 
***request: 
   {
      email: string,
      message: string,
      name: string
   }

***response: 
   {
      responseCode: int | string,
      message: successMessage || errorMessage
   }


// save 201
// response 200
/* 
    accessories
    furniture
    cosmetics
    footwear
    jewellery
    clothing
*/


orders (protected) 

***request
auth header jwt


***response 
const data = {
     summary: {
       toc: 24,
       tb: 24,
       ab: 24,
       ao: 24,
       te: 24,
     },
     bids: [
  
       {},
       {},
     ],
     order: [],
   };
   
 
 
   Dashboard 
   ***Response
   {
   name: string,
   src: null || url,
   summary: [
      {
         item: "Total Bids",
         value: amount
      }, {}, {}
   ],
   e: ,
   rating: ,
   bids : [
      {
         id: "P1",
         src: "",
         pName: "Belt",
         lBid: "500",
         yBid: "600",
         status: true,
       }, 
   ]
}
