login.php (POST): 
***request: 
   {
      email: string,
      password: string
 }

***response:
   if responseCode is okay (200-299)
      {
         responseCode: int | string,
         jwt: string,
         user: {
            id: string,
            isSeller: boolean,
            name: string,
            email: string,
            hasAddress: boolean
         }
      }
   else
      {
         responseCode: int | string,
         error: string
      }

signup.php (POST): 
***request: 
   {
      isSeller: boolean,
      name: string,
      email: string,
      phone: string,
      password: string
   }
 
***response:
      {
         responseCode: int | string,
         jwt: string,
         user: {
            id: string,
            isSeller: boolean,
            name: string,
            email: string,
            hasAddress: boolean
         }
      }


shop.php (GET): 
***response:
//Array of objects
      [
         {
            id: int || string,
            name: string,
            img: string,
            lowestBid: int,
            category: string,
            location: {{that is derived from the address of the customer who created it}},
            Date: date (2011-10-05T14:48:00.000Z),
            utc
         }
      ]

contact.php (POST): 
***request: 
   {
      email: string,
      message: string,
      name: string
   }

***response: 
   {
      responseCode: int | string,
      message: successMessage || errorMessage
   }


// save 201
// response 200

/* 
    accessories
    furniture
    cosmetics
    footwear
    jewellery
    clothing
*/


orders (protected) 

***request
auth header jwt


***response 
 
   Dashboard 
   ***Response
   {
   name: string,
   src: null || url,
   summary: [
      {
         item: "Total Bids",
         value: amount
      }, {}, {}
   ],
   e: ,
   rating: ,
   bids : [
      {
         id: "P1",
         src: "",
         pName: "Belt",
         lBid: "500",
         yBid: "600",
         status: true,
       }, 
   ]
}



order.php (GET): 

***request
auth header jwt

***response
{
    //for seller
    "responseCode": 200,
    "summary": {
        "s1": {
            "key": "Total Orders Completed",
            "value": 1
        },
        "s2": {
            "key": "Total Bids",
            "value": 16
        },
        "s3": {
            "key": "Active Bids",
            "value": 14
        },
        "s4": {
            "key": "Active Orders",
            "value": 1
        },
        "s5": {
            "key": "Total Earnings",
            "value": "400"
        }
    },
    "orders": [
        {
            "oid": "O1",
            "src": null,
            "name": "Ayush",
            "productName": "Watch",
            "price": "3500",
            "status": "SHIPPED"
        },
        {
            "oid": "O2",
            "src": null,
            "name": "Ayush",
            "productName": "Hat",
            "price": "400",
            "status": "COMPLETE"
        }
    ]
}
||
{
    //for customer
    "responseCode": 200,
    "summary": {
        "s1": {
            "key": "Total Products Fulfilled",
            "value": 1
        },
        "s2": {
            "key": "Total Bids",
            "value": 8
        },
        "s3": {
            "key": "Active Listings",
            "value": 8
        },
        "s4": {
            "key": "Active Orders",
            "value": 0
        },
        "s5": {
            "key": "Total Expenditure",
            "value": "400"
        }
    },
    "orders": [
        {
            "oid": "O2",
            "src": "https://res.cloudinary.com/flipin/image/upload/v1617898404/gsngqhlc7wdqvznz2ngq.png",
            "name": "Ayush",
            "productName": "Hat",
            "price": "400",
            "status": "COMPLETE"
        }
    ]
}



getprofile.php (GET): 

***request
auth header jwt


***response
{
    //Seller
    "responseCode": 200,
    "user": {
        "name": "Ayush",
        "phoneNumber": "9999955555",
        "email": "c@gmail.com",
        "premiumMember": "NO",
        "category": "Jewellery",
        "logo": "https://www.publicdomainpictures.net/pictures/70000/nahled/letter-a-1388715703B97.jpg",
        "firstLineAddress": "14",
        "secondLineAddress": "Nagar",
        "city": "Jaipur",
        "state": "Rajasthan",
        "country": "India",
        "pincode": "302017"
    }
}
||
{
    //Customer
    "responseCode": 200,
    "user": {
        "name": "Ayush",
        "phoneNumber": "9876543210",
        "email": "a@gmail.com",
        "firstLineAddress": "14",
        "secondLineAddress": "Nagar",
        "city": "Jaipur",
        "state": "Rajasthan",
        "country": "India",
        "pincode": "302017"
    }
}



setprofile.php (POST):
***request:
auth header jwt
{
    //Seller
    "phoneNumber": "9999955555",
    "premiumMember": "NO",
    "category": "Jewellery",
    "logo": "https://www.publicdomainpictures.net/pictures/70000/nahled/letter-a-1388715703B97.jpg",
    "firstLineAddress": "14",
    "secondLineAddress": "Nagar",
    "city": "Jaipur",
    "state": "Rajasthan",
    "country": "India",
    "pincode": "302017"
}
||
{
    //Customer
    "phoneNumber": "9999955555",
    "firstLineAddress": "14",
    "secondLineAddress": "Nagar",
    "city": "Jaipur",
    "state": "Rajasthan",
    "country": "India",
    "pincode": "302017"
}

 
***response:
{
    //successful
    "responseCode": 204,
    "message": "Profile Updated Successfully."
}
||
{
    //error
    "responseCode": 422,
    "error": "Invalid Pincode"
}



productpost.php (POST):
***request:
auth header jwt
{
    "name":"Chokar",
    "description":"It is a Chokar",
    "category":"Jewellery",
    "mediaUrl":"https://5.imimg.com/data5/AR/OC/NN/ANDROID-22678777/product-jpeg-500x500.jpeg"
}


***response:
{
    //successful
    "responseCode": 201,
    "message": "Product Added Successfully."
}
||
{
    //error
    "responseCode": 422,
    "error": "Invalid Name"
}


getproduct.php (POST):
***request
auth header jwt 
{
   "id": "P1"
}

***response:
{
    //for seller
    "responseCode": 200,
    "name": "Belt",
    "lowestBid": "500",
    "location": "Jaipur, Rajasthan",
    "category": "Accessories",
    "description": "It is a belt",
    "customerId": "1",
    "image": "https://staticimg.titan.co.in/Titan/Catalog/TB184LM1R2_1.jpg",
    "bids": [
        {
            "sellerId": "S1",
            "logo": "https://www.publicdomainpictures.net/pictures/70000/nahled/letter-a-1388715703B97.jpg",
            "sellerName": "Ayush",
            "description": "Price quoted",
            "amount": "2500"
        },
        {
            "sellerId": "S2",
            "logo": null,
            "sellerName": "Ayush Jain",
            "description": "Price quoted",
            "amount": "2000"
        },
        {
            "sellerId": "S35",
            "logo": null,
            "sellerName": "Ayush Jain",
            "description": "Price quoted",
            "amount": "500"
        }
    ],
    "suggestions": [
        {
            "id": "P3",
            "name": "Tie",
            "img": "https://hips.hearstapps.com/vader-prod.s3.amazonaws.com/1559339960-TIE-4836-0026.jpg",
            "lowestBid": "200",
            "location": "Jaipur, Rajasthan"
        },
        {
            "id": "P53",
            "name": "Glasses",
            "img": "https://images-na.ssl-images-amazon.com/images/I/313KvOFWUzL.jpg",
            "lowestBid": "Not Available",
            "location": "Jaipur, Rajasthan"
        },
        {
            "id": "P51",
            "name": "Watch",
            "img": "https://i.gadgets360cdn.com/products/large/realme-watch-670x800-1590388807.jpg",
            "lowestBid": "3500",
            "location": "Jaipur, Rajasthan"
        }
    ]
}
||
{
    //for customer
    "responseCode": 200,
    "name": "Belt",
    "lowestBid": "500",
    "location": "Jaipur, Rajasthan",
    "category": "Accessories",
    "description": "It is a belt",
    "customerId": "1",
    "image": "https://staticimg.titan.co.in/Titan/Catalog/TB184LM1R2_1.jpg",
    "bids": [
        {
            "sellerId": "S1",
            "logo": "https://www.publicdomainpictures.net/pictures/70000/nahled/letter-a-1388715703B97.jpg",
            "sellerName": "Ayush",
            "description": "Price quoted",
            "amount": "2500"
        },
        {
            "sellerId": "S2",
            "logo": null,
            "sellerName": "Ayush Jain",
            "description": "Price quoted",
            "amount": "2000"
        },
        {
            "sellerId": "S35",
            "logo": null,
            "sellerName": "Ayush Jain",
            "description": "Price quoted",
            "amount": "500"
        }
    ]
}



bid.php (POST):
***request:
auth header JWT
{
    "pid":"P17",
    "desc":"New bid",
    "price": "1000"
}

***response: 
{
    "responseCode": 201,
    "message": "Bid Added Successfully"
}
||
{
    "responseCode": 204,
    "message": "Bid Updated Successfully"
}



editproduct.php (POST):
***request:
auth header jwt
{
    "pid": "P55",
    "name":"Chokar",
    "description":"It is a Chokar",
    "category":"Jewellery",
    "mediaUrl":"https://5.imimg.com/data5/AR/OC/NN/ANDROID-22678777/product-jpeg-500x500.jpeg"
}


***response:
{
    "responseCode": 204,
    "message": "Product Updated Successfully"
}
||
{
    //error
    "responseCode": 422,
    "error": "Invalid Name"
}




listings.php (GET):
***request:
auth header jwt


***response:
{
    "responseCode": 200,
    "products": [
        {
            "id": "P6",
            "name": "Sofa",
            "img": "https://images-na.ssl-images-amazon.com/images/I/7173g5rSwAL._SX425_.jpg",
            "lowestBid": "2500",
            "category": "Furniture",
            "location": "Jaipur, Karnataka",
            "Date": "2021-03-18T00:29:09+00:00"
        },
        {
            "id": "P5",
            "name": "Table",
            "img": "https://www.ikea.com/in/en/images/products/ekedalen-extendable-table-dark-brown__0736963_pe740827_s5.jpg",
            "lowestBid": "800",
            "category": "Furniture",
            "location": "Jaipur, Karnataka",
            "Date": "2021-03-18T00:28:18+00:00"
        },
        {
            "id": "P4",
            "name": "Chair",
            "img": "https://ii1.pepperfry.com/media/catalog/product/m/u/568x625/multicolour-patch-iconic-chair-by-star-india-multicolour-patch-iconic-chair-by-star-india-iwybi2.jpg",
            "lowestBid": "1000",
            "category": "Furniture",
            "location": "Jaipur, Karnataka",
            "Date": "2021-03-18T00:27:32+00:00"
        }
    ]
}



getorderdetails.php (POST):
***request:
auth header jwt
{
    "oid":"O2"
}


***response:
{
    // for customer
    "responseCode": 200,
    "name": "Watch",
    "mediaUrl": "https://staticimg.titan.co.in/Titan/Catalog/1595NL03_2.jpg",
    "price": "3500",
    "status": "SHIPPED",
    "location": "Jaipuriya, Rajasthan",
    "personType": "Seller Name",
    "personName": "Yashika",
    "description": "It is a watch"
}
||
{
    // for seller
    "responseCode": 200,
    "name": "Watch",
    "mediaUrl": "https://staticimg.titan.co.in/Titan/Catalog/1595NL03_2.jpg",
    "price": "3500",
    "status": "SHIPPED",
    "location": "Jaipuriya, Rajasthan",
    "personType": "Customer Name",
    "personName": "Ayush",
    "description": "It is a watch"
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}



acceptorder.php (POST):
***request:
auth header jwt
{
    "pid":"P15",
    "sid":"S2"
}


***response:
{
    "responseCode": 201,
    "message": "Order Created Successfully"
}
||
{
    "responseCode": 400,
    "message": "Order already created or product set as Unpublished."
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}



publish.php (POST):
***request:
auth header jwt
{
    "pid":"P15"
}


***response:
{
    "responseCode": 204,
    "message": "Product Unpublished Successfully"
}
||
{
    "responseCode": 204,
    "message": "Product Published Successfully"
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}



billing.php (POST):
***request:
auth header jwt
{
    "oid":"O1"
}


***response:
{
    "responseCode": 200,
    "productName": "Watch",
    "quantity": 1,
    "price": "3500",
    "commission": "5%",
    "commissionAmount": 175,
    "totalPrice": 3675,
    "date": {
        "day": "25",
        "month": "March",
        "year": "2021"
    },
    "Customer": {
        "name": "Ayush",
        "firstLineAddress": "14",
        "secondLineAddress": "Nagar",
        "city": "Jaipuriya",
        "state": "Rajasthan",
        "country": "India",
        "pincode": "302017"
    },
    "Seller": {
        "name": "Yashika",
        "firstLineAddress": "14",
        "secondLineAddress": "Palya",
        "city": "Jaipur",
        "state": "Kerela",
        "country": "India",
        "pincode": "302018"
    }
}
||
{
    "responseCode": 403,
    "message": "Access denied."
}
